.color-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0px 70px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.color-card-headline {
  display: inline-block;
  align-self: flex-start;
  padding: 6px 6px;
  background: black;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 8px;
}

.color-card-highlight {
  color: var(--contrast-text);
}

.button {
  display: inline-block;
  padding: 4px 10px;
  font-size: 0.85rem;

  width: auto;
}
